@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@300;400&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.special-color {
  background: linear-gradient(
    90deg,
    #4e279d -4.3%,
    #8561e8 45.68%,
    #e9878a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.typeWriter-color {
  background: linear-gradient(
    90deg,
    #4e279d -4.3%,

    #e9878a 45.68%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
